body{
    
}
h1{
    text-align: center;
}
label{
    margin-left: 50px;
}
input{
    margin-left: 50px;
}
button{
    margin-left: 90px;
    width: 100px;
}
.conteudo-class{
    border: 1px solid;
    width: 300px;
    height: auto;
    
}